{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="display-5 fw-bold">About</h1>

<video src="{% static  'videos/14398871_1280_720_24fps(1).mp4' %}" src="movie.mp4" type="video/mp4" width="500"
  height="400" controls></video>




<p class="lead">SecurityHub is a community-focused security platform designed to enhance safety, communication, and rapid response within neighborhoods. Our mission is to connect residents, security personnel, and local authorities through a reliable digital system that makes reporting incidents, sharing alerts, and monitoring activities seamless and efficient.

We believe that safer communities are built through collaboration. By leveraging modern technology, SecurityHub empowers users to stay informed, report suspicious activities in real time, and access emergency support when it matters most.</p>



{% endblock %}